.wrapper{
    width: 100%;   
}

.wrapper .container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.carousel_wrapper{
    position: relative;
    width: 100%;
}