.wrapper{
    height: 500px;
    width: 350px;
    background: red;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px;
    overflow: hidden;
    background: var(--white);
}

.wrapper:hover .image{
    transform: scale(1.05);
}

.image_wrapper{
    width: 100%;
    height: 40%;
    position: relative;
    overflow: hidden;
}
.image_wrapper .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 2000ms ease-in-out;
}


.text_wrapper{
    width: 100%;
    height: calc(55% - 75px);
    padding: 20px;
    overflow: hidden;
}

.title{
    font-weight: 700;
    text-transform: none;
    display: inline-block;
}

.text{
    font-family: var(--font_family_text);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.time_rating_wrapper{
    height: 75px;
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
}
.time{
    width: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.clock_icon{
    height: 15px;
    width: 15px;
    fill: var(--blue);
}
.time span{
    font-family: var(--font_family_text);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 0px;
    margin-left: 10px;
}

.rating{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.little_man_icon{
    height: 35px;
    width: 20px;
    margin-right: 8px;
    fill: var(--blue);
}

.button{
    width: 100%;
    height: 5%;
    background: var(--blue);
    border: none;
    cursor: pointer;
    font-family: var(--font_family_text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: white;
}