.wrapper{
    width: 100%;
    min-height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_wrapper{
    max-width: 500px;
    max-height: 700px;
    width: 480px;
    padding: 55px 80px;
    background-color: var(--white);
    border-radius: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
}

.title{
    font-family: var(--font_family_title);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: var(--black);

    padding-bottom: 50px;
}

.form{
    width: 100%;
}