.wrapper{
    width: 100%;
    min-height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_wrapper{
    max-width: 500px;
    max-height: 700px;
    width: 480px;
    padding: 55px 80px;
    background-color: var(--white);
    border-radius: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
}

.title{
    font-family: var(--font_family_title);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: var(--black);

    padding-bottom: 50px;
}

.signin_with{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.signin_with .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: 500ms ease-in-out;
    padding: 5px;
}
.signin_with .icons:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}
.icons svg{
    margin-right: 15px;
}
.icons span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;

    letter-spacing: 0.025em;

    color: #A4A4A4;
}

.divider{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A4A4A4;
    font-size: 10px;
    line-height: 24px;
    margin-bottom: 50px;
}

.divider .dividing_line{
    width: 42%;
    border: 1px solid #707070;
}

.form{
    width: 100%;
}

.button{
    float: right;
}

.forgot_password{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.forgot_password a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #A4A4A4;
    text-decoration: none;
}