.property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min-content;
    gap: 3px;
    font-size: .7em;
    font-weight: 600;
    font-family: var(--font_family_montserrat);
    white-space: nowrap;

    svg {
        width: 2.5em;
    }
}