.gallery{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.image{
    max-width: 450px;
    max-height: calc((450px /16) *9);
    width: min-content;
    height: min-content;
    object-fit: cover;
}