.wrapper{
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.title{
    margin-bottom: 20px;
}

.text{
    width: 100%;
}