.underline{
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin-top: 8px;
}

.black{
    background: var(--black);
}
.blue{
    background: var(--blue);
}
.white{
    background: var(--white);
}