.team_section { 
    position: relative;
    min-height: 320px;

    .text_wrapper {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;

        .text_content {
            position: absolute;
            display: flex;
            flex-direction: column;
            max-width: 520px;
            padding: 0 20px;
            top: 40px;
            gap: 8px;
            z-index: 2;
        }
    }

    .team_grid {
        position: absolute; 
        left: 0;
        top: 0;
        display: grid;  
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        width: 100%;

        .grid_item {
            display: flex;
            align-items: center;
            justify-items: center;
            overflow: hidden;

            .grid_item_inner {
                width: 100%;   
                position: relative;
                cursor: pointer;

                .text {
                    width: 100%;
                    height: 98%;
                    display: flex;
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba($color: #000000, $alpha: .5);
                    opacity: 0;
                    transition: 200ms linear;

                    &:hover {
                        opacity: 1;
                    }
                }

                .figure {
                    aspect-ratio: 1 / 1;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            
        }
    }
}   

.reverse {
    transform: scaleX(-1);

    .text_wrapper {

        .text_content {
            transform: scaleX(-1);
        }
    }

    .team_grid .grid_item .grid_item_inner .text {
        transform: scaleX(-1);
    }
}