.wrapper{
    width: 100%;
    position: relative;
    background-image: url('https://wallpapercave.com/wp/wp2068958.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    overflow: hidden;
}
.upSkirt{
    position:absolute;
    left: 0;
    top: -1px;
    z-index: 1;
    width: 100%;
}
.downSkirt{
    position:absolute;
    left: 0;
    bottom: -1px;
    z-index: 1;
    width: 100%;
    transform: rotateZ(180deg);
}