.subheader_content_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.content_for_list{
    z-index: 2;
    width: 100%;
    height: calc(100% - 120px);
    background: rgba(0, 0, 0, .5);
    padding: 50px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.content_for_block{
    width: 100%;
    height: calc(100% - 120px);
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* items styles */
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.a{
    display: block;
    position: relative;
    padding: 10px;
}

.a::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2.5px solid var(--darkGrey);
    border-radius: 10px 0px;
    transition: .5s ease;
    transform: scale(1);
}
.a::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2.5px solid var(--white);
    border-radius: 10px 0px;
    transition: .5s ease;
    transform: scale(1.1);
    opacity: 0;    
}

.a:hover::before{
    transform: scale(.8);
    opacity: 0;
}
.a:hover::after{
    transform: scale(1);
    opacity: 1;
}

.item_text::before{
    display: none;
}

/* Trip planner */

.block_wrapper{
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1gr;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    margin-bottom: 45px;
    align-self: self-start;
}
.text{
    margin-bottom: 60px;
}
.button{
    align-self: self-start;
}

