.icon_wrapper{
    display: inline-block;
    overflow: hidden;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.icon_wrapper svg{
    fill: var(--white);
    stroke: var(--blue);
    stroke-width: 2px;
}
.icon{
    position: absolute;
    width: 20px;
    height: 2.5px;
    border-radius: 1px;
    background: var(--blue);
    z-index: 1;
    transition: 300ms ease-in-out;
}
.icon::before{
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 2.5px;
    border-radius: 1px;
    background: var(--blue);
    transform: translateY(-5px);
    transition: 300ms ease-in-out; 
}
.icon::after{
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 2.5px;
    border-radius: 1px;
    background: var(--blue);
    transform: translateY(5px);
    transition: 300ms ease-in-out;    
}

.open{
    transform: rotateZ(45deg);
}
.open::before{
    transform: translateY(0) rotateZ(-90deg);
}
.open::after{
    transform: translateY(0) rotateZ(-90deg);
}