.menu_wrapper{
    width: 100%;
    min-height: 120px;
    background: rgba(0,0,0,0.5);
    position: relative;
    padding: 0 40px;
    z-index: 1;
}

.up{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.up .block{
    display: flex;
    align-items: center;
}
.up .block .up_item{
    margin-left: 15px;
}

.menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_items{
    display: flex;
    width: 77%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.item_wrapper{
    list-style: none;
    height: 100%;
}
.item_wrapper a{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
}

.item{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.item::before{
    bottom: 0;
}

.item_wrapper a svg{
    display: none;
}

.control_block{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.sandwich_icon{
    display: none;
}
.menu a svg{
    width: 65px;
    height: 65px;
    fill: var(--white);
}

.languages_wrapper{
    position: relative;
    display: inline-block;
}
.languages{
    position: absolute;
    width: min-content;
    background: var(--white);
    z-index: 5;
    padding: 8px;
    border-radius: 5px;
    margin-left: 3%;
    transition: 300ms;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.lang_item{
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 35px;
    font-size: 14px;
}
.lang_item:last-child{
    margin-bottom: 0;
}

.show_langs{
    transform: scaleY(1);
    opacity: 1;
}

.submenu_wrapper{
    display: none;
}

@media screen and (max-width: 1030px){
    .menu_items{
        left: 0;
        top:100%;
        position: absolute;
        width: 100%;
        height: calc(100vh - 120px);
        background: rgba(0, 0, 0, 0.7);
        z-index: 5;
        justify-content: center;
        flex-wrap: wrap;
        transition: 500ms;
        transform-origin: right;
        transform: scaleX(0);
        opacity: 0;
    }
    .item_wrapper{
        width: 100%;
        height: calc(100% / 7);
        background: var(--white);
        border-bottom: 2px solid var(--black);
    }

    .item_wrapper a{
        padding: 0 40px;
    }
    .item_wrapper a svg{
        display: block;
        width: 23px;
        height: 23px;
    }
    .item{
        color: var(--black);
        margin-left: 20px;
    }
    .item::before{
        display: none;
    }

    .sandwich_icon{
        display: inline-flex;
        margin-left: 15px;
    }
    .show_menu_items{
        transform: scaleX(1);
        opacity: 1;
    }

    .menu_item_active .submenu_wrapper{
        transform: scaleX(1);
        opacity: 1;
    }

    /* ------------------------------------ */

    .submenu_wrapper{
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        background: var(--white);
        width: 100%;
        height: calc(100vh - 120px);
        z-index: 1;
        transition: 500ms ease-in-out;
        transform-origin: right;
        transform: scaleX(0);
        opacity: 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .submenu_item{
        list-style: none;
        position: relative;
        height: 80px;
        width: 100%;
        border-bottom: 2px solid var(--black);
    }
    .submenu_item a svg{
        width: 14px;
        height: 14px;
    }
    .submenu_item:first-child{
        height: 90px;
        background: var(--lightGrey);
    }
}

@media  screen and (max-width: 600px) {
    .menu_wrapper{
        padding: 0 15px;
    }
    .up .block .up_item{
        margin-left: 8px;
        font-size: 9px;
    }
    .up .block .up_item svg{
        width: 14px;
    }
    .sandwich_icon{
        margin-left: 5px;
    }
    .menu a svg{
        width: 50px;
        height: 50px;
        fill: var(--white);
    }
    .item_wrapper a svg{
        width: 20px;
        height: 20px;
    }
    .item_wrapper a{
        padding: 0 20px;
    }
}
.active .list{

}