.item {
    position: relative;
    width: 100%;

    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.045);
        -moz-box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.045);
        box-shadow: 0px 3px 5px 0px rgba(34, 60, 80, 0.045);
        padding: 24px;

        .icon {
            transition: 100ms linear;
            transform: rotateZ(-90deg);
        }
        
        .link_icon {
            fill: var(--blue);
            width: 18px;
            height: 16px;
        }

        .rotated {
            transform: rotateZ(0);
        }
    }

    .sub_list {
        padding: 0 20px;
        list-style: none;

        .item {
            .btn {
                border-top: 1px solid var(--lightGrey);
                box-shadow: none;
            }
        }
    }
}