@use 'breakpoints' as *;

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .list {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto;
        list-style: none;
        gap: 60px;

        @include respond-to('hd') {
            grid-template-columns: auto auto auto;
        }
    }
}