.wrapper{
    width: 100%;
    height: calc(100vh/5);
    position: relative;
    display: flex;
    flex-direction: row;
    background: red;
}

.skirt{
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.image{
    width: calc(100%/5);
    height: 100%;
    object-fit: cover;
}
