.content{
    width: 100%;
    height: calc(100% - 120px);
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background: rgba(0,0,0, .3);
    padding-top: 80px;
}

.main_info_block{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first_sticker_block{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px; 
}

.additional_info_block{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
