.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('/images/auth_backgr_image.jpg');
    background-repeat: none;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}