.item{
    font-family: var(--font_family_montserrat);
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
    color: var(--black);
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.item:hover::before{
    transform: scaleX(1);
}
.item::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    z-index: 1;
    border-radius: 1px;
    background: var(--black);
    transform: scaleX(0);
    transition: 300ms;
    transform-origin: right;
}
.item svg{
    height: 20px;
    margin-right: 6px;
}

/* item size */
.l{
    font-size: 18px;
    font-weight: 700;
}
.l svg{
    height: 22px;
    margin-right: 8px;
}

.s{
    font-size: 12px;
    font-weight: 500;
    border-bottom-width: 1px;
}
.s::before{
    height: 1px;
    bottom: -4px;
}
.s svg{
    height: 16px;
    margin-right: 5px;
}

/* itam color */
.white{
    color: var(--white);
}
.white::before{
    background: var(--white);
}

.blue{
    color: var(--blue);
}
.blue::before{
    background: var(--blue);
}

.red{
    color: var(--red);
}
.red::before{
    background: var(--red);
}

/* status */
.active::before{
    transform: scaleX(1);
}


/* item with icon */
.with_icon{
    display: inline-flex;
    align-items: flex-end;
}