.card_wrapper{
    width: 300px;
    height: 297px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    margin: 20px 0;
    text-align: center;
}
.destination{
    color: #687D8E;
    text-align: center;
}