.wrapper{
    width: 100%;
    height: 120px;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin: auto;
}

.wrapper svg{
    width: 80px;
    height: 80px;
    fill: var(--white);
}

.wrapper .text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.wrapper a{
    color: var(--red);
}

.wrapper span{
    margin-right: 12px;
    color: var(--white);
}