.select{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    font-family: var(--font_family_open_sans);

    .input_wrapper {
        min-width: 200px;
        position: relative;

        .label {
            position: absolute;
            left: 0px;
            top: 7px;
            transition: 150ms linear;
        }
        
        .input {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 2px solid var(--blue);
            min-height: 2.3em;
            padding: 8px 0;
            color: var(--grey);
        }
    }

    .upLabel {
        top: -1em;
        font-size: .8em;
    } 

    .list {
        display: none;
        position: absolute;
        left: 0;
        top: 105%;
        width: 100%;
        height: min-content;
        max-height: 150px;
        z-index: 3;
        background-color: var(--white);
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
        scrollbar-width: thin;
        
        .list_item {
            padding: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .list_item:hover {
            background: rgb(243, 243, 243);
            cursor: pointer;
        }
    }
}

.disclosed {
    .input_wrapper {
        .label {
            top: -1em;
            font-size: .8em;
        } 
    }

    .list {
        display: block;
    }


}