/* text size */
.text{
    display: inline-block;
    font-style: normal;
    line-height: auto;
}
.xl{
    font-size: 1.2em;
    font-weight: 400;
}
.l{
    font-size: 1.1em;
    font-weight: 400;
}
.m{
    font-size: 1em;
    font-weight: 400;
}
.s{
    font-size: .9em;
    font-weight: 400;
}

/* text font family */
.montserrat{
    font-family: var(--font_family_montserrat);
}
.openSanse{
    font-family: var(--font_family_open_sans);
}

/* text color */
.black{
    color: var(--black);
}
.white{
    color: var(--white);
}
.blue{
    color: var(--blue);
}
.green{
    color: var(--green);
}
.orange{
    color: var(--orange);
}
.blackGray{
    color: var(--blackGray);
}