.slider{
    position: relative;
    width: 100%;

    .title {
        padding: 0 60px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .controller {
        width: 100%;
        padding: 2em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .progress_wrapper {
            height: 5px;
            width: 30%;
            border-radius: 2px;
            border: 1px solid var(--grey);

            .progress {
                background-color: var(--blue);
                height: 100%;
                transition: 200ms linear;
            }
        }

        .arrows {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.5em;
            z-index: 5;
        }
    }
}

@media only screen and (max-width: 600px){
    .slider{
        padding: 0 10px;
    }
}