.header{
    display: flex;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 120px;
    z-index: 5;
}

.sub_header{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}


@media  screen and (max-width: 1030px) {
    .sub_header{
        display: none;
    }
}
