@use 'breakpoints' as *;

.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: .4);

    .container {
        height: inherit;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 4fr 6fr;

        .up_side {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            @include respond-to('tablet') {
                justify-content: flex-end;
            }

            .menu {
                display: flex;
                flex-direction: row;
                gap: 16px;

                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 7px;
                    color: var(--white);
                    font-family: var(--open_sans);
                    font-size: 14px;

                    .icon {
                        height: 16px;
                        width: 16px;
                    }
                }

                .lang {
                    display: none;

                    @include respond-to('tablet') {
                        display: block;
                    }
                }

                &:first-child {
                    @include respond-to('tablet') {
                        display: none;
                    }
                }
            }
        }

        .low_side {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 40px;

            .logo {
                width: 60px;
                height: 60px;

                svg {
                    fill: var(--white);
                }
            }

            .lang {
                @include respond-to('tablet') {
                    display: none;
                }
            }

            .burger {
                display: none;
                color: var(--white);
                align-items: center;
                justify-content: center;

                @include respond-to('tablet') {
                    display: flex;
                }
            }
        }
    }
}