.p{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    line-height: 1.5;
    color: black;
}

.l{
    font-size: 18px;
    font-weight: 600;
}
.m{
    font-size: 16px;
    font-weight: 500;
}
.s{
    font-size: 14px;
    font-weight: 400;
}