.card {
    display: block;
    overflow: hidden;
    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    border: 2px solid var(--blue);
}

.figure{
    position: relative;
    aspect-ratio: 4 / 3;
}


.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    transition: 500ms ease;
}
.figure:hover .content{
    cursor: pointer;
    background: rgba(0,0,0,0.4);
}