.card {
    margin: 30px;
    min-width: 280px;
    max-width: 300px;
    min-height: 440px;
    max-height: 500px;
    height: 460px;
    width: 260px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    align-items: flex-end;
    text-align: start;

    .card_promotion {
        position: absolute;
        left: auto;
        right: 0;
        top: 40px;
        bottom: auto;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 0, 0, .7);
        border-bottom-left-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-family: (--font_family_montserrat);
        font-size: 1em;
        font-weight: 600;
        z-index: 3;
    }
    .card_price {
        position: absolute;
        left: 0;
        right: auto;
        top: 190px;
        bottom: auto;
        background-color: rgba(3, 122, 233, 0.8);
        height: 35px;
        width: 110px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 6px;
        color: var(--white);
        font-family: (--font_family_montserrat);
        font-weight: 600;
        font-size: 1em;
        z-index: 3;
        transition: 200ms all;

        svg{
            fill: var(--white);
            width: 1em;
        }
    }

    .card_image {
        position: absolute;
        width: 100%;
        height: 240px;
        left: 0;
        top: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: border-box;
    }

    .card_content {
        position: relative;
        height: calc(100% - 240px);
        width: 100%;
        background: var(--white);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        transition: 200ms all;

        .curcle {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: var(--blue);
            border-radius: 20px;
            left: auto;
            top: -20px;
            right: 20px;
            bottom: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                fill: var(--white);
                width: 1em;
            }
        }

        .card_info {
            width: 100%;
            height: calc(100% - 5px);
            padding: 1em;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .card_subtitle {
                display: none;
                width: 100%;
                color: var(--grey);

                .review {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 5px;
                    span {
                        color: var(--black);
                        font-weight: 600;
                    }
                }

                .countries {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                svg {
                    fill: var(--blue);
                    width: 1.1em;
                }
            }

            .card_proporties {
                display: none;
                grid-template-columns: auto auto;
                gap: 8px;
            }

            .card_days {
                display: grid;
                grid-template-columns: auto auto;
            }
        }

        .list_card_proporties {
            display: none;
        }

        .card_btn {
            width: 100%;
            height: 5px;
            background-color: var(--blue);
            display: flex;
            align-items: center;
            color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 200ms all;
            cursor: pointer;
        }
    }
}

.list_card {
    min-width: 700px;
    max-width: 900px;
    min-height: 260px;
    max-height: 300px;
    height: 260px;
    width: 800px;
    align-items: center;
    justify-content: flex-end;
    
    .card_promotion {
        left: auto;
        right: 0;
        top: 0;
        bottom: auto;
    }

    .card_image {
        width: 280px;
        height: 100%;
    }

    .card_content {
        width: calc(100% - 280px);
        height: 100%;

        .card_info {
            height: 100%;
            width: 70%;
            padding-left: 30px;
            flex-direction: column;
            justify-content: space-between;

            .card_subtitle {
                display: block;
            }
        }

        .list_card_proporties {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 30px 20px;
        }

        .curcle {
            left: -20px;
            top: 30px;
        }

        .card_btn {
            display: none;
        }
    }
}

.hovered {
    .card_price {
        top: 65px;
    }

    .card_content {
        height: 340px;

        .card_info {
            height: calc(100% - 30px);

            .card_proporties {
                display: grid;
            }
        }

        .card_btn {
            height: 30px;
            color: var(--white);
            
        }
    }
}