.wrapper{
    width: 100%;
}

.title{
    margin-bottom: 40px;
}

.bg{
    background-image: url('/images/attainment/attainment_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}